YTB_MUSIC_TV_UID=1000
YTB_MUSIC_TV_GID=1000
YTB_MUSIC_TV_OAUTH_CLIENT_ID=
YTB_MUSIC_TV_OAUTH_CLIENT_SECRET=
YTB_MUSIC_TV_LIBRARY_MAX_ITEMS=5000
YTB_MUSIC_TV_PROXY_URL=
YTB_MUSIC_TV_NO_PROXY=localhost,127.0.0.1,::1
